name: ci build

on:
  push:
  pull_request:
  # manual run in actions tab - for all branches
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: make (term only)
      run: make

    - name: make dist
      run: make dist

    - name: make (x11)
      run: |
          make clean
          sudo apt install -y libx11-dev
          make
          cp cobgdb $(ls -d "cobgdb-*")/cobgdb-x11

    - name: Upload dist package
      uses: actions/upload-artifact@v4
      with:
        name: cobgdb nightly dist
        path: cobgdb-**
